<h1>Welcome to the brand page</h1>

  <p>Add a brand to the database:</p>

  <form action="/brands" method="post">
    <label for="name">Brand's name:</label>
    <input id="name" name="name" type="text">
    <label for="description">Description:</label>
    <input id="description" name="description" type="description">

    <button type="submit">Add brand</button>
  </form>


  <% if @brands.any?() %>
    <p>Click on an brand to see information about them and to assign them to different stores:</p>

    <ul>
      <% @brands.each do |brand| %>
        <li><a href="/brands/<%= brand.id() %>"><strong><%= brand.name() %>:-</strong></a><%= brand.description()%></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no brands added yet!</p>
  <% end %>

  <p><a href="/stores">See all stores</a></p>

  <p><a href="/">Return to Main Page</a></p>
