<h1>Welcome to the Store page</h1>

  <p>Add a store to the database:</p>

  <form action="/stores" method="post">
    <div class="input-field">
      <label for="name">Store's name:</label>
      <input id="name" name="name" type="text" required>
    </div>

    <button class="button button2"type="submit">Add store</button>
  </form>


  <% if @stores.any?() %>
    <h4>Click on a store to see information about it and add brands to it:</h4>

    <ul>
      <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
      <form action="/stores/<%= store.id() %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="button button3" type="submit">Delete Store</button>
      </form>
      <% end %>
    </ul>
  <% else %>
    <p>There are no stores added yet!</p>
  <% end %>



  <p><button class="button button1"><a href="/brands">See all brands</a></button</p>

  <p><button class="button button1"><a href="/">Return to Main Page</a></button</p>
